
// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

$header-border: 10px !default;

@mixin light-box-shadow {
    //box-shadow: 0 1px 1px 0 rgba(10, 16, 34, .2);
}

html, body {
    height: 100%;
}

#page-inner {
    min-height: 100%;
}

.simple-list {
    list-style: none;
    padding: 0;

    li {
        padding-left: 0;
        margin-bottom: 0.3em;
        list-style: none;
    }
}

#page-header {
    padding-bottom: $header-border;
    @include light-box-shadow;
}

#page-footer {
    padding-top: $header-border;

    .overlay {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
}

#content {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

#main-content {
    position: relative;
}

.home #main-content {
    margin-top: 0;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
  
#main {
    padding: 1em;
    min-height: 30em;
}


.comment-form {
    .comment-form-comment {
      @extend .form-group;
    }
  
    textarea, input {
      @extend .form-control;
    }
  
    #submit {
      @extend .btn;
      @extend .btn-primary;
    }
}

.screen-reader-text {
    @extend .sr-only
}


#featured {
    iframe {
      display: block;
    }
}