// Overrides

$header-border: 10px;
$accent-color: #FFEB3B;
$main-border-radius: 7px;

$theme-colors: (
  "primary": #2196F3,
  "secondary": $accent-color
);

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

//#main-content {
  div, article, header, ul {
    //outline: 1px dashed red;
  }
//}

body {
  background: #F8F8F8;
}

#page-header {
  padding-bottom: $header-border;
  box-shadow: 0 1px 1px 0 rgba(10, 16, 34, .2);

  background-image: repeating-linear-gradient(90deg, 
        #F44336 0.00%, #F44336 6.66%,
        #E91E63 6.66%, #E91E63 13.32%,
        #9C27B0 13.32%, #9C27B0 19.98%,
        #3F51B5 19.98%, #3F51B5 26.64%,
        #2196F3 26.64%, #2196F3 33.33%,
        #03A9F4 33.33%, #03A9F4 39.96%,
        #00BCD4 39.96%, #00BCD4 46.62%,
        #009688 46.62%, #009688 53.28%,
        #4CAF50 53.28%, #4CAF50 59.94%,
        #8BC34A 59.94%, #8BC34A 66.60%,
        #CDDC39 66.60%, #CDDC39 73.26%,
        #FFEB3B 73.26%, #FFEB3B 79.92%,
        #FFC107 79.92%, #FFC107 86.58%,
        #FF9800 86.65%, #FF9800 93.24%,
        #FF5722 93.24%, #FF5722 100%
  );
}

#main-content {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 3em;
  background: #fff;
  border-radius: $main-border-radius;
  box-shadow: 0 1px 1px 0 rgba(10, 16, 34, .2);
  border-top: $header-border solid $accent-color;
  border-bottom: $header-border solid $accent-color;
}

#main-nav {
  background: rgba(0, 0, 0, 0.7);
}

.contributor .name {
  font-size: 1rem;
}

.current_page_item {
  @extend .active
}

#header-search {
  $search-bck: rgba(255, 255, 255, 0.7);

  input {
    background: $search-bck;
    border: 0;

    &:focus {
      background: #fff;
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  button {
    border: 0;
    background: $search-bck;
    margin-top: 5px;
  }
}

@media(min-width:576px)
{
  #header-search {
  
    input {
      border-radius: 0;
      border-top-left-radius: $main-border-radius;
      border-bottom-left-radius: $main-border-radius;
      width: 10em;
      transition: all .2s ease;

      &:focus {
        width: 20em;
        transition: all .2s ease;
      }
    }
  
    button {
      border-radius: 0;
      border-top-right-radius: $main-border-radius;
      border-bottom-right-radius: $main-border-radius;
      text-align: center;
      margin: 0;
    }
  }
}

#current-episode {
  //border-bottom: 5px solid $accent-color;
}