// Overrides

$accent-color: #FFEB3B !default;
$primary-color: #2196F3 !default;
$main-border-radius: 0.25rem;

$theme-colors: (
  "primary": $primary-color,
  "secondary": $accent-color,
  "info": #3F51B5,
  "success": #8BC34A
);

// Overrides
//$enable-rounded: false;
$navbar-dark-color: rgba(#fff, .9) !default;
$navbar-dark-hover-color: rgba($accent-color, .75) !default;
$headings-font-weight: 600;

@import "_layout.scss";

//#main-content {
  div, article, header, ul, ol {
    //outline: 1px dashed #999;
  }
//}

body {
  font-family: 'Open Sans', sans-serif;
}

#content {
  background: #f6f6f6;
}

body, #page-footer, #page-header, #featured {
  background-image: repeating-linear-gradient(90deg, 
    #F44336 0.00%, #F44336 6.66%,
    #E91E63 6.66%, #E91E63 13.32%,
    #9C27B0 13.32%, #9C27B0 19.98%,
    #3F51B5 19.98%, #3F51B5 26.64%,
    #2196F3 26.64%, #2196F3 33.33%,
    #03A9F4 33.33%, #03A9F4 39.96%,
    #00BCD4 39.96%, #00BCD4 46.62%,
    #009688 46.62%, #009688 53.28%,
    #4CAF50 53.28%, #4CAF50 59.94%,
    #8BC34A 59.94%, #8BC34A 66.60%,
    #CDDC39 66.60%, #CDDC39 73.26%,
    #FFEB3B 73.26%, #FFEB3B 79.92%,
    #FFC107 79.92%, #FFC107 86.58%,
    #FF9800 86.65%, #FF9800 93.24%,
    #FF5722 93.24%, #FF5722 100%
  );
}

h1, h2 {
  font-weight: 700;
}

#main-content {
  background: #fff;
  //border-top: $header-border solid $accent-color;
  //border-bottom: $header-border solid $accent-color;
  box-shadow: 0px 0px 7px #e9e9e9;
}

#page-inner, #page-footer .overlay {
  background: rgba(0, 0, 0, 0.9);
}

#main-nav {
  background: rgba(0, 0, 0, 0.8);
}

#page-header {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  position: relative;
  z-index: 100;
}

.navbar-brand {
  font-weight: bold;

  .name {
    line-height: 40px;
  }
}

#menu-header-menu {
  li a {
    font-weight: bold;
  }

  li .dropdown-menu a {
    font-weight: normal;
  }
}

#menu-header-menu .current_page_item a {
  color: $accent-color;
}

#page-footer {
  h2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  color: white;

  #menu-footer-menu a, .social-icons a {
    padding: 0;
    color: #fff;

    &:hover {
      color: $accent-color;
    }
  }
}

.home-podcast, .post-type-archive-podcast {
  #content {
    padding-top: 0;
    background: #fff;
  }

  #main-content {
    box-shadow: none;
  }

  @media(min-width:576px) {
    #main-content {
      padding-left: 0;
      padding-right: 0;
    }
  }

  #main {
    padding-left: 0;
    padding-right: 0;
  }
}

#content {
  position: relative;
  z-index: 99;

  .social-icons {
    font-size: 2em;
    color: #fff;
    padding: 0;
  }
}

#featured {
  //border-bottom: $header-border solid $accent-color;
  
  .overlay {
    background: rgba(0, 0, 0, 0.7);
  }

  .container {
    padding: 0;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  h1 {
    a {
      color: #fff;
    }
  }

  .podlovewebplayer_wrapper {
    margin-bottom: 0;
  }
}

@media(min-width:992px) {
  #featured {
    .subscribe .inner, .about-info {
      background: none;
    }
  }
}

#contributors {
  li.contributor {
    .name {
      font-size: 1rem;
    }

    .contributor-pic img {
      border-radius: 50%;
    }
  }
}

.guest-list {
  li {
    background: #ececec;
    border-radius: 12px;
  }

  img {
    float: left;
    margin-right: 0.5em;
    border-radius: 50%;
  }

  span {
    padding-right: 12px;
    line-height: 24px;
    display: inline-block;
    color: #666;
  }
}

.current_page_item {
  @extend .active;
}

#header-search {
  $search-bck: rgba(255, 255, 255, 0.7);

  input {
    background: $search-bck;
    border: 0;

    &:focus {
      background: #fff;
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  button {
    border: 0;
    background: $search-bck;
    margin-top: 5px;
    height: calc(2.25rem + 2px);
  }
}

/* > mobile view */
@media(min-width:576px) {
  #main {
    padding: 3em;
  }

  #main-content {
    border-radius: $main-border-radius * 2;
    @include light-box-shadow;
  }

  #header-search {
  
    input {
      border-radius: 0;
      border-top-left-radius: $main-border-radius;
      border-bottom-left-radius: $main-border-radius;
      width: 10em;
      
    }
  
    button {
      border-radius: 0;
      border-top-right-radius: $main-border-radius;
      border-bottom-right-radius: $main-border-radius;
      text-align: center;
      margin: 0;
    }
  }
}

.entry-title a {
  color: #000;
  text-decoration: none;
}

#comments {
  .comments-title {
    margin-bottom: 0.5em;
  }

  .media {
    .media-content {
      padding: 1em;
      margin-bottom: 1em;
      background: #f8f9fa;
      border-radius: $main-border-radius;
      @include light-box-shadow;
    }
  }

  .media-content {
    border: 1px solid #e7e7e7;
  }

  .bypostauthor .media-content {
    border: 5px solid $accent-color;
  }
}

#respond {
  border: 1px solid #e7e7e7;
  padding: 1em 1em 0.5em 1em;
  background: #f8f9fa;
  border-radius: $main-border-radius;
  @include light-box-shadow;
  margin-bottom: 1em;
}

#cancel-comment-reply-link {
  font-size: 0.6em;
  @extend .btn;
  @extend .btn-danger;
  margin-right: 1em;
}

.nav-links {
  margin-top: 2em;
  @extend .nav;
  @extend .justify-content-center;

  a {
    @extend .nav-link;
    @extend .btn;
    @extend .btn-primary;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .nav-previous {
    @extend .nav-item;
  }
  
  .nav-next {
    @extend .nav-item;
  }  
}

.tag-list-inline {
  li {
    background: #ececec;
    padding: 1px 10px;
    border-radius: 1em;
    color: #666;
  }
}

.icon-button i {
  font-size: 1em;
}

@media(min-width:1200px) {
  .icon-button {
    i {
      margin-top: 0.1em;
      display: block;
      font-size: 2em;
    }
  }
}

.card-columns {
  .card {
    
  }

  .card-title a {
    font-weight: bold;
    color: #333;

    &:hover {
      text-decoration: none;
    }
  }
}