// Overrides

$header-border: 10px;
$accent-color: #FFEB3B;
$primary-color: #2196F3;
$main-border-radius: 7px;

$theme-colors: (
  "primary": $primary-color,
  "secondary": $accent-color,
  "info": #3F51B5,
  "success": #8BC34A
);

$headings-font-weight: 600;

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

@mixin light-box-shadow {
  box-shadow: 0 1px 1px 0 rgba(10, 16, 34, .2);
}

//#main-content {
  div, article, header, ul, ol {
    //outline: 1px dashed #999;
  }
//}

body {
  background: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
}

#page-header {
  padding-bottom: $header-border;
  @include light-box-shadow;
}

#page-header, #featured, #page-footer {
  background-image: repeating-linear-gradient(90deg, 
        #F44336 0.00%, #F44336 6.66%,
        #E91E63 6.66%, #E91E63 13.32%,
        #9C27B0 13.32%, #9C27B0 19.98%,
        #3F51B5 19.98%, #3F51B5 26.64%,
        #2196F3 26.64%, #2196F3 33.33%,
        #03A9F4 33.33%, #03A9F4 39.96%,
        #00BCD4 39.96%, #00BCD4 46.62%,
        #009688 46.62%, #009688 53.28%,
        #4CAF50 53.28%, #4CAF50 59.94%,
        #8BC34A 59.94%, #8BC34A 66.60%,
        #CDDC39 66.60%, #CDDC39 73.26%,
        #FFEB3B 73.26%, #FFEB3B 79.92%,
        #FFC107 79.92%, #FFC107 86.58%,
        #FF9800 86.65%, #FF9800 93.24%,
        #FF5722 93.24%, #FF5722 100%
  );
}

#main-content {
  background: #fff;
  border-top: $header-border solid $accent-color;
  border-bottom: $header-border solid $accent-color;
  position: relative;
}


#page-footer {
  padding-top: $header-border;
  .overlay {
    background: rgba(0, 0, 0, 0.8);
  }
}

.home #main-content {
  margin-top: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#main {
  padding: 1em;
}

#main-nav {
  background: rgba(0, 0, 0, 0.8);
}

#featured {
  .overlay {
    background: rgba(0, 0, 0, 0.7);
  }

  .container {
    padding: 0;
    padding-top: 3rem;
  }

  h1 {
    a {
      color: #fff;
    }
  }

  .podlovewebplayer_wrapper {
    margin-bottom: 0;
  }

  .subscribe .inner, .about-info {
    background: rgb(189, 189, 189);
  }
}

@media(min-width:992px) {
  #featured {
    .subscribe .inner, .about-info {
      background: none;
    }
  }
}

#contributors {
  li.contributor {
    .name {
      font-size: 1rem;
    }

    .contributor-pic img {
      border-radius: 50%;
    }
  }
}

.guest-list {
  * {
    //border: 1px solid red;
  }

  li {
    background: #ececec;
    border-radius: 12px;
  }

  img {
    float: left;
    margin-right: 0.5em;
    border-radius: 50%;
  }

  span {
    padding-right: 12px;
    line-height: 24px;
    display: inline-block;
    color: #666;
    //font-weight: bold;
  }
}

.current_page_item {
  @extend .active;
}

#header-search {
  $search-bck: rgba(255, 255, 255, 0.7);

  input {
    background: $search-bck;
    border: 0;

    &:focus {
      background: #fff;
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  button {
    border: 0;
    background: $search-bck;
    margin-top: 5px;
  }
}

/* > mobile view */
@media(min-width:576px) {
  #main {
    padding: 3em;  
  }

  #main-content {
    margin-top: 4rem;
    margin-bottom: 3rem;
    border-radius: $main-border-radius;
    @include light-box-shadow;
  }

  #header-search {
  
    input {
      border-radius: 0;
      border-top-left-radius: $main-border-radius;
      border-bottom-left-radius: $main-border-radius;
      width: 10em;
      transition: all .2s ease;

      &:focus {
        width: 20em;
        transition: all .2s ease;
      }
    }
  
    button {
      border-radius: 0;
      border-top-right-radius: $main-border-radius;
      border-bottom-right-radius: $main-border-radius;
      text-align: center;
      margin: 0;
    }
  }
}

#current-episode {
  //border-bottom: 5px solid $accent-color;
}

.entry-title a {
  color: #000;
  text-decoration: none;
}

#comments {
  .comments-title {
    margin-bottom: 0.5em;
  }

  .media {
    .media-content {
      padding: 1em;
      margin-bottom: 1em;
      background: #f8f9fa;
      border-radius: $main-border-radius;
      @include light-box-shadow;
    }
  }

  .bypostauthor .media-content {
    border: 5px solid $accent-color;
  }
}

.comment-form {
  .comment-form-comment {
    @extend .form-group;
  }

  textarea, input {
    @extend .form-control;
  }

  #submit {
    @extend .btn;
    @extend .btn-primary;
  }
}

#respond {
  border-top: 5px solid $primary-color;
  padding: 1em 1em 0.5em 1em;
  background: #f8f9fa;
  border-radius: $main-border-radius;
  @include light-box-shadow;
  margin-bottom: 1em;
}

#cancel-comment-reply-link {
  font-size: 0.6em;
  @extend .btn;
  @extend .btn-danger;
  margin-right: 1em;
}

.screen-reader-text {
  @extend .sr-only
}

.nav-links {
  margin-top: 2em;
  @extend .nav;
  @extend .justify-content-center;

  a {
    @extend .nav-link;
    @extend .btn;
    @extend .btn-primary;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .nav-previous {
    @extend .nav-item;
  }
  
  .nav-next {
    @extend .nav-item;
  }  
}

.tag-list-inline {
  li {
    background: #ececec;
    padding: 1px 10px;
    border-radius: 1em;
    color: #666;
  }
}

#featured {
  iframe {
    display: block;
  }
}