$accent-color: #FF5722;
$primary-color: #262626;

@import "styles.scss";

.list-group-item:hover {
    .guest-list {
      .list-inline-item {
        //background: $accent-color;

        span { 
          //color: #000;
        }
      }
    }
}

#page-header, #page-footer {
  background-image: linear-gradient(90deg, #42ffff 2.78%, #09a9fe 2.78%, #09a9fe 5.56%, #2196f3 5.56%, #2196f3 8.33%, #0a4deb 8.33%, #0a4deb 11.11%, #ebf519 11.11%, #ebf519 13.89%, #cddc3a 13.89%, #cddc3a 16.67%, #aac311 16.67%, #aac311 19.44%, #fffa1b 19.44%, #fffa1b 22.22%, #ffeb3b 22.22%, #ffeb3b 25%, #ffdd12 25%, #ffdd12 27.78%, #ffac02 27.78%, #ffac02 30.56%, #ff9802 30.56%, #ff9802 33.33%, #ffae44 33.33%, #ffae44 36.11%, #ff5001 36.11%, #ff5001 38.89%, #ff5722 38.89%, #ff5722 41.67%, #ff1a0a 41.67%, #ff1a0a 44.44%, #404040 44.44%, #404040 47.22%, #262626 47.22%, #262626 50%, #42ffff 50%, #42ffff 52.78%, #09a9fe 52.78%, #09a9fe 55.56%, #2196f3 55.56%, #2196f3 58.33%, #0a4deb 58.33%, #0a4deb 61.11%, #ebf519 61.11%, #ebf519 63.89%, #cddc3a 63.89%, #cddc3a 66.67%, #aac311 66.67%, #aac311 69.44%, #fffa1b 69.44%, #fffa1b 72.22%, #ffeb3b 72.22%, #ffeb3b 75%, #ffdd12 75%, #ffdd12 77.78%, #ffac02 77.78%, #ffac02 80.56%, #ff9802 80.56%, #ff9802 83.33%, #ffae44 83.33%, #ffae44 86.11%, #ff5001 86.11%, #ff5001 88.89%, #ff5722 88.89%, #ff5722 91.67%, #ff1a0a 91.67%, #ff1a0a 94.44%, #404040 94.44%, #404040 97.22%, #262626 97.22%, #262626 100%);
  background-size: 500px 500px;
}

#main-nav {
  background: rgba(0, 0, 0, 0.9);
}

#page-inner, #page-footer .overlay {
  background: rgba(0, 0, 0, 1);
}

#featured {
  background: url('../assets/firmenfunkdigital/featured-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0%;

  .overlay {
    background: rgba(0, 0, 0, 0.5);
  }
}