$accent-color: #FFEB3B;
$primary-color: #2196F3;

@import "styles.scss";

.list-group-item:hover {
    .guest-list {
      .list-inline-item {
        //background: $accent-color;

        span { 
          //color: #000;
        }
      }
    }
}

#featured {
  background: url('../assets/firmenfunkstories/featured-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0%;

  .overlay {
    background: rgba(0, 0, 0, 0.5);
  }
}